*.aux
*.log
*.out
*.blg
*.bbl
*.toc
*.synctex.gz
*.class
code/compiler/nisse/bin/nisse
output.html
minimum.sablecc
code/compiler/nisse/output-.html
code/compiler/nisse/output-112-4-16-10-36-9.html
code/compiler/nisse/output-112416103520.html
code/compiler/nisse/output-1337156631438.html
code/compiler/nisse/output-2012-5-16-10-38-36.html
code/compiler/nisse/output-Wed May 16 10:29:28 CEST 2012.html
